* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  .title{
    color: orangered;
  }
  .container {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
 
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-color: light black;
    border-radius: 100px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  input:focus {
    outline: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.8s ease;
  }
  
  @media screen and (max-width: 600px) {
    .container {
      max-width: 100%;
    }
  }
  